body {
    background-color: #d9d2bf;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #904451;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #615040;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 5px 5px 15px #a3906f;
}

button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #d9d2bf;
    color: black;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}

button:hover {
    background-color: #a3906f;
}

button a {
    text-decoration: none;
    color: black;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}